.container {
  width: 600px;
  margin-top: 10px;
  margin-left: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap:15px;
  height: calc(100dvh - 300px);
  margin-top: 0px;
  padding: 0;
  border-radius: 6px;
  /* overflow: scroll; */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 6px;
}

.container nav {
  margin-top: 20px;
}

/* .list::-webkit-scrollbar-thumb {
  background: #b7bdcb;
  border-radius: 10px;
}

.listItem {
  list-style-type: none;
  margin-bottom: 20px;
} */

/* li{
  display: grid;
  gap:0;
} */
.listItem {
  background: white;
}


@media (max-width: 768px) {
  .container{
    padding-top: 20px;
    width: 94dvw;
  }
}