.asideBar {
  width: 290px;
  height: 100dvh; /* Make it full screen vertically */
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional for better appearance */
}

@media (max-width: 768px) {
  .asideBar{
     width: 155px;
  }
}