.main-layout {
	display: flex;
	height: 100vh; /* Makes the layout take the full viewport height */
	width: 100vw;
}

.main-content {
	flex-grow: 1;
	padding: 20px; 
	padding-left: 300px; 
	background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
	width: calc(100% - 290px);
	overflow-y: hidden; 
}


@media (max-width: 768px) {
	.main-content {
		padding: 0;
	}
}