.header {
  display: flex;
  align-items:center;
  background: #FAFBFF;
  font-family: 'Roboto';
  font-style: normal;
  border-bottom: 2px solid rgba(112, 124, 151, 0.1);
  padding-left: 10px;
  padding: 28px 20px 28px 60px;
  gap:10px;
  color:black;
}

.person {
  position: relative;
  display: flex;
  /* padding: 28px 20px 28px 60px; */
  align-items:center;
  width: 100%;
}

.person img {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.infoUser {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-left: 20px;
  width: 100%;
}

.userLogo img {
  border-radius: 50%;
}

.nameStatus {
  margin: auto 0;
  /* display: grid;
    justify-content: center;
    align-items:center; */
}

.WhatDo {
  display: flex;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap:5px
} 

.buttons button {
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 100%;
  font: inherit;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03), 0px 5px 25px rgba(42, 139, 242, 0.07);
  cursor: pointer;

}

.buttons button img {
  display: flex;
  justify-content: center;
  align-items: center;
  height:24px;
  margin: 0;
}

.WhatDo {
  display: flex;
}

@media (max-width: 768px) {
  .header {
    padding: 15px 20px 10px 10px;
  }
  .person img {
    width: 44px;
    height: 44px;
  }
  .buttons button {
    width: 44px;
    height: 44px;
  }
}
